{% extends 'base.html.twig' %}

{% block body %}
    <form action="{{ path('app_login') }}" method="post">
        <label for="username">Email:</label>
        <input type="text" id="username" name="_username">

        <label for="password">Password:</label>
        <input type="password" id="password" name="_password">

        <input type="hidden" name="_target_path" value="/profile">

        <button type="submit">login</button>
    </form>
{% endblock %}