{% extends 'base.html.twig' %}

{% block body %}
    <h1>Post a new proposal</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Post</button>
    {{ form_end(form) }}
{% endblock %}